<!DOCTYPE html>
<html lang="es">
<head>
    <script src="https://unpkg.com/vue@3"></script>
    <title>Vue</title>
</head>
<body>

    <!-- ejemplo -->
    <div id="contenedor">
        
        <span v-for="(person, index) in people">
            <h1>
            {{(index+1)}} - {{person.name}} : {{person.job}}
            </h1>
        </span>

        <input type="text" v-model="name" name="">
        <input type="text" v-model="job" name="">


        <button @click="agregar">
            Save person
        </button>
    </div>

    <script type="text/javascript">
        //vincular vue con mi contenedor
        const {createApp} = Vue;

        const app = createApp({
            data(){
                return{
                    name:'',
                    job: '',
                    people: [{name: 'Alexis', job:'Front'},
                            {name: 'Daniel', job:'Back'}],
                }
            },
            methods: {
                agregar(){
                    this.people.push({name: this.name, job: this.job});
                    this.name = '';
                    this.job = '';
                }
            }
        }).mount('#contenedor')
    </script>
</body>

</html>