<!DOCTYPE html>
<html lang="es">
<head>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Vue</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body>

    <!-- ejemplo -->
    <div id="contenedor">
        <form v-if="form > 0">
            <fieldset>
                <legend>
                    Rating
                </legend>
                <input min="0" max="10" type="number" v-model="rating">
                <button @click.prevent="rate(form)">
                    Calificar
                </button>
            </fieldset>
        </form>
        <h2>Lista de peliculas</h2>
        <table v-if="movies.length > 0">
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Fecha</th>
                <th>Votos</th>
                <th>Promedio</th>
                <th>Idioma original</th>
                <th>Sinopsis</th>
                <th>Resenas</th>
                <th>Calificar</th>
            </tr>
            <tr v-for="(movie, index) in movies">
                <td>{{movie.id}}</td>
                <td>{{movie.title}}</td>
                <td>{{movie.release_date}}</td>
                <td>{{movie.vote_count}}</td>
                <td>{{movie.vote_average}}</td>
                <td>{{movie.original_language}}</td>
                <td>{{movie.overview.substring(0, 50) + '...'}}</td> 
                <td>
                    <button @click="viewReviews(movie.id)">
                        Ver
                    </button>
                </td>
                <td>
                    <button @click="form = movie.id">
                        Calificar
                    </button>
                    <button @click="deleteRating(movie.id)">
                        Eliminar calificacion
                    </button>
                </td>               
            </tr>
        </table>
        <p><small>Usuario logeado: {{userLogged.username}}</small></p>
    </div>

    <script type="text/javascript">

        const {createApp} = Vue;


        const app = createApp({
            data(){
                return{
                    movies: [],
                    reviews: [],
                    rating: '',
                    form: 0,
                }
            },
            computed:{
                userLogged(){
                    return JSON.parse(window.localStorage.getItem('user'));
                },
            },
            mounted(){
                var config = {
                    method: 'get',
                    url: 'https://api.themoviedb.org/3/movie/popular?api_key=287c69abe90ab1d772645c8f8ec37f57&language=es-MX&page=1',
                        headers: { }
                };

                let self = this

                axios(config)
                .then(function (response) {
                    console.log(response.data.results);
                    self.movies = response.data.results;
                })
                .catch(function (error) {
                    console.log(error);
                });

            },
            methods:{
                rate(id){
                    if(this.rating > 0){
                        var data = new FormData();
                        data.append('value', this.rating);

                        var config = {
                            method: 'post',
                            url: 'https://api.themoviedb.org/3/movie/' + id + '/rating?api_key=287c69abe90ab1d772645c8f8ec37f57',
                            headers: { 
                                'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyODdjNjlhYmU5MGFiMWQ3NzI2NDVjOGY4ZWMzN2Y1NyIsInN1YiI6IjYzMWE4YjVkYWFmZWJkMDA5MTk4MDM4MCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.q-RHz7YEygj_ozVhUaew37mWJ0obog2BtaHPNH08EWo'                        },
                            data : data
                        };

                        axios(config)
                        .then(function (response) {
                            console.log(response.data);
                            if(response.data.success){
                                alert('Rating exitoso');
                            }
                        })
                        .catch(function (error) {
                        console.log(error);
                        });

                        this.form = 0;
                        this.rating = '';
                    }
                },
                deleteRating(id){
                    var config = {
                        method: 'delete',
                        url: 'https://api.themoviedb.org/3/movie/' + id + '/rating?api_key=287c69abe90ab1d772645c8f8ec37f57',
                        headers: { 
                            'Authorization': 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyODdjNjlhYmU5MGFiMWQ3NzI2NDVjOGY4ZWMzN2Y1NyIsInN1YiI6IjYzMWE4YjVkYWFmZWJkMDA5MTk4MDM4MCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.q-RHz7YEygj_ozVhUaew37mWJ0obog2BtaHPNH08EWo'
                        }
                    };

                    axios(config)
                    .then(function (response) {
                        console.log(response.data);
                        if(response.data.success){
                            alert('Rating eliminado con exito');
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                },
                viewReviews(id){
                    var config = {
                        method: 'get',
                        url: 'https://api.themoviedb.org/3/movie/'+ id +'/reviews?api_key=287c69abe90ab1d772645c8f8ec37f57&language=en-US&page=1',
                        headers: { }
                    };

                    let self = this

                    axios(config)
                    .then(function (response) {
                        console.log(JSON.stringify(response.data.results));
                        self.reviews = response.data.results;
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
                }
            }
        }).mount('#contenedor')
    </script>
</body>

</html>