<!DOCTYPE html>
<html lang="es">
<head>
    <script src="https://unpkg.com/vue@3"></script>
    <title>Vue</title>
</head>
<body>

    <!-- ejemplo -->
    <div id="contenedor">

        <form>
            <fieldset>
                <legend>
                    Login
                </legend>
                <label>
                    Correo electronico
                </label>
                <input type="email" v-model="email">
                <label>
                    Contrasena
                </label>                
                <input type="password" v-model="password">

                <button @click="login">
                    Acceder
                </button>
            </fieldset>
        </form>
    </div>

    <script type="text/javascript">
        const {createApp} = Vue;


        const app = createApp({
            data(){
                return{
                    users: null,
                    email: '',
                    password: '',
                }
            },
            methods:{
                login(e){
                    e.preventDefault();
                    if(this.email && this.password){
                        
                        let userLogin = null;

                        this.users.map((user) => {
                            if(user.email.toLowerCase() === this.email.toLowerCase()){
                                if(user.password == this.password){
                                    userLogin = user;
                                }
                            }
                        });

                        if(userLogin) {
                            alert('Bienvenido ' + userLogin.username);
                            window.localStorage.clear();
                            window.localStorage.setItem('usuarioLogeado', userLogin.email);
                            document.location.href = 'table.html';
                        }
                        else alert('Los datos no coinciden con ningun registro');
                    }
                    else{
                        alert('Ingrese un email y contrasena');
                    }
                }
            },
            mounted(){
                fetch('users.json')
                .then((res) => (res.json()))
                .then((json) => (this.users = json))
                .then((err) => (console.log(err)));
            }
        }).mount('#contenedor')
    </script>
</body>

</html>